.jumbotron 
{
	color:#ffffff;
	background-image:url('header.jpg');
	height: 700px;
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron .container
{
width:95%;	
}

.jumbotron h3
{
	font-family:'Lato';
	text-align: center;
	font-weight:bold;
	font-size: 50px;
	padding-top:90px;	
	
}

.jumbotron .container .nav
{
	position:relative;
	top:-25px;
}



.jumbotron p
{
	font-family:'Lato';
	color:#ecf0f1;
	font-size: 20px;
	padding-top:7px;
	width:55%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.jumbotron a
{
	font-family:'Avenir Next';
	color:#ffffff;
	font-size:      15px    ;
    padding-top :   14px    ;
    padding-bottom: 14px    ;
    padding-left:   20px    ;
    padding-right:  20px    ;
}

.jumbotron .container .nav .container .name a
{
	font-size:18px;
	text-decoration: none;
}

.jumbotron .container .nav .container .hea a
{
	position:relative;
	top:3px;
	color:#bdc3c7;
	
}

.jumbotron .container .nav .container .hea a:hover
{
	text-decoration: none;
	background:#ffffff;
	background: rgba(255,255,255,0.1);
	color: #ecf0f1;
}

.jumbotron .container .nav .container .name a:hover
{
	text-decoration: none;
	color: #f1c40f;
}

.jumbotron .container .nav li
{display:inline;}

.about-me
{
	color:#ffffff;
	height:475px;
}

.about-me .container
{
	position:relative;
	top:35px;
}

.about-me h3
{
	font-family:'Lato';
	color:#000;
	text-align: center;
	font-size:34px;
	font-weight:400;
}

.about-me hr
{
	position:relative;
	top:-10px;
	width:200px;
	display: block;
    border-width: 0px;
	height:4px;
	color:#f1c40f;
	background-color:#f1c40f;
}

.about-me .container .inner
{
	position:relative;
	top:45px;
	width:75%;
	margin-left:auto;
	margin-right:auto;
}

.about-me .container .inner img
{
	width:150px;
	margin-left:auto;
	margin-right:auto;
	/*float:left;
	/*---vertical centering----
	position:relative;
	top:50%;
	transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
	/*-------------------------*/
}

.about-me .container .inner p
{
	/*
	float:left;
	width:50%;
	---vertical centering----
	position:relative;
	top:50%;
	transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
	/*-------------------------*/ 
	
	
    font-family: "Lato", sans-serif;
	font-size: 20px;
	line-height:34px;
	font-weight:300;
	color:#575757;

}

/* clear:left */

.academics
{
	background-color:#ecf0f1;
	height:475px;
}

.academics .container
{
	position:relative;
	top:35px;
}

.academics h3
{
	font-family:'Lato';
	color:#000;
	text-align: center;
	font-size:34px;
	font-weight:400;
}

.academics hr
{
	position:relative;
	top:-10px;
	width:200px;
	display: block;
    border-width: 0px;
	height:4px;
	color:#f1c40f;
	background-color:#f1c40f;
}
